In [1]:
import numpy as np

<table cellspacing="0" border="0">
    <colgroup span="6" width="85"></colgroup>
	<tbody>
    <tr>
		<td align="center" valign="middle"><b>terms</b></td>
		<td align="center" valign="middle"><b>df</b></td>
		<td align="center" valign="middle"><b>idf</b></td>
        <td align="center" valign="middle"><b>d1</b></td>
		<td align="center" valign="middle"><b>d2</b></td>
		<td align="center" valign="middle"><b>d3</b></td>
    </tr>
	<tr>
		<td height="17" align="left" valign="middle"><b>car</b></td>
		<td align="right" sdval="18165">18165</td>
		<td align="right" sdval="1,65">1,65</td>
		<td align="right" sdval="27">27</td>
		<td align="right" sdval="4">4</td>
		<td align="right" sdval="24">24</td>
	</tr>
	<tr>
		<td height="17" align="left" valign="middle"><b>auto</b></td>
		<td align="right" sdval="6723">6723</td>
		<td align="right" sdval="2,08">2,08</td>
		<td align="right" sdval="3">3</td>
		<td align="right" sdval="33">33</td>
		<td align="right" sdval="0">0</td>
	</tr>
	<tr>
		<td height="17" align="left" valign="middle"><b>insurance</b></td>
		<td align="right" sdval="19241">19241</td>
		<td align="right" sdval="1,62">1,62</td>
		<td align="right" sdval="0">0</td>
		<td align="right" sdval="33">33</td>
		<td align="right" sdval="29">29</td>
	</tr>
	<tr>
		<td height="17" align="left" valign="middle"><b>best</b></td>
		<td align="right" sdval="25235">25235</td>
		<td align="right" sdval="1,5">1,5</td>
		<td align="right" sdval="14">14</td>
		<td align="right" sdval="0">0</td>
		<td align="right" sdval="17">17</td>
	</tr>
    </tbody>
</table>

Запрос: "сar insurance"

In [2]:
idf = np.asarray([1.65, 2.08, 1.62, 1.5])

query = np.asarray([1, 0, 1, 0])
docs = [
    np.asarray([27, 3, 0, 14]),
    np.asarray([4, 33, 33, 0]),
    np.asarray([24, 0, 29, 17])
]

In [3]:
print(f"Вектор tf запроса:", query)

Вектор tf запроса: [1 0 1 0]

In [4]:
for di, d in enumerate(docs, 1):
    print(f"Вектор tf документа {di}:", d)

Вектор tf документа 1: [27  3  0 14]
Вектор tf документа 2: [ 4 33 33  0]
Вектор tf документа 3: [24  0 29 17]

In [5]:
def norm(d):
    return np.sqrt(np.power(d, 2).sum())

In [6]:
docs = [d / norm(d) for d in docs]

In [7]:
for di, d in enumerate(docs, 1):
    print(f"Нормализованный вектор tf документа {di}:", d)

Нормализованный вектор tf документа 1: [0.88346699 0.098163   0.         0.45809399]
Нормализованный вектор tf документа 2: [0.08539682 0.70452373 0.70452373 0.        ]
Нормализованный вектор tf документа 3: [0.581061   0.         0.70211538 0.41158488]

In [8]:
query = query * idf
docs = [d * idf for d in docs]

In [9]:
print(f"Вектор tf-idf запроса:", query)

Вектор tf-idf запроса: [1.65 0.   1.62 0.  ]

In [10]:
for di, d in enumerate(docs, 1):
    print(f"Вектор tf-idf документа {di}:", d)

Вектор tf-idf документа 1: [1.45772053 0.20417904 0.         0.68714099]
Вектор tf-idf документа 2: [0.14090475 1.46540937 1.14132845 0.        ]
Вектор tf-idf документа 3: [0.95875065 0.         1.13742691 0.61737731]

In [11]:
def cosine(a, b):
    return (a * b).sum() / norm(a) / norm(b)

In [12]:
ranks = [cosine(d, query) for d in docs]

In [13]:
for di, r in enumerate(ranks, 1):
    print(f"Ранк документа {di}:", r)

Ранк документа 1: 0.6403300253625412
Ранк документа 2: 0.48323104205732087
Ранк документа 3: 0.9195214992872568

In [14]:
from operator import itemgetter

order = sorted(enumerate(ranks, 1), key=itemgetter(1), reverse=True)
order = map(itemgetter(0), order)

print("Документы упорядочены в следующем порядке:", *order)

Документы упорядочены в следующем порядке: 3 1 2

**Замечание:** на самом деле предполагалось, что веса (ранки) для документов нужно считать так: dot(d, q) / norm(d).